* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
  background-color: #f0ebd8;
}

h1 {
  font-family: sans-serif;
  color: #231942;
  margin-bottom: 1em;
  font-size: 3em;
}

.mega-board {
  width: 80%;
  max-width: 500px;
  height: 500px;
  border: 5px solid #231942;
  border-radius: 1em;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  background-color: #f0ebd8;
}

.board {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 33%);
  border: 5px solid #0d1321;
  cursor: pointer;
}

.board > div {
  border: 1px solid #0d1321;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.8rem;
  color: #748cab;
}

.non-playable,
.non-playable > div {
  border: 1px solid rgba(13, 19, 33, 0.4);
  cursor: not-allowed;
}

.restart {
  display: inline-block;
  background-color: #f0ebd8;
  border: 3px solid #0d1321;
  border-radius: 0.2em;
  color: #0d1321;
  padding: 0.25em 0.75em;
  font-size: 1.5rem;
  margin-top: 1em;
  cursor: pointer;
  transition: all 0.3s linear;
}

.restart:hover,
.restart:focus {
  outline: none;
  color: #f0ebd8;
  background-color: #0d1321;
}
